*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px 10px;
    margin: 10px 30px;
}

.container{
    padding: 30px 30px;
    margin: 30px 10px;
}

/* --------------------HEADER-------------------- */
#header {
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 30px;
}

#header .container {
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

/* Navbar */
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}
nav li:first-child{
    margin-right: auto;
}
nav li{
    height: 50px;
    padding: 0 5px;
}

nav a{
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    border: 1px solid #000 ;
    border-radius: 30px;
}
.hideOnMobile a{
    padding: 5px;
}
.hideOnMobile a:hover{
    transition: 0.2s;
    color: #ECFD18;
    background-color: #000;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #f700c2;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    list-style: none;
    margin: 20px 0 0 10px;
}
.sidebar a{
    width: 100%;
    border: none;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

.menu-button{
    display: none;
}
.menu-button a{
    border: none;
}
.menu-button a:hover{
    border: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


/* header-intro */
.text-line{
    display: inline-block;
    position: relative;
    font-style: italic;
    text-transform: uppercase;
    margin: 20px 0;
}
.text-line::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 10px;
    width: 100px;
    height: 1.5px;
    background-color: #000;
    transform: translateY(-50%);
}

h1{
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.header-intro p{
    font-size: 20px;
}
.line-height{
    line-height: 2.5;
}
.auto-type{
    color: #000;
    text-decoration: underline;
}

/* header-bottom */
.header-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

button{
    margin-top: 20px;
    padding: 5px;
    text-transform: uppercase;
    color: #000;
    background-color: transparent;
    border: 1px solid #000 ;
    border-radius: 30px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
button:hover{
    border: 2px solid #000;
    font-weight: bold;
}
button span{
    background-color: #ECFD18;
}
button svg{
    margin-left: 5px;
}
.header-bottom p{
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
    text-align: end;
}
.text-line2{
    padding-top: 10px;
    display: inline-block;
    position: relative;
}
.text-line2::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 10px;
    margin-top: 10px;
    width: 100px;
    height: 2px;
    background-color: #000;
    transform: translateY(-50%);
}
@media (max-width: 800px) { /*768px*/
    h1{
        text-transform: uppercase;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .header-intro p{
        font-size: 14px;
        text-align: start;
    }
    .header-bottom span{
        font-size: 14px;
    }
}
@media (max-width: 600px) { /*768px*/
    .text-line, .text-line2 {
        display: block;
    }

    .text-line::after, .text-line2::after {
        position: relative;
        display: block;
        top: auto;
        right: auto;
        margin: 10px auto 0;
        transform: none;
    }
    .header-bottom{
        flex-direction: column;
        align-items: center;
    }
}

/* --------------------ABOUT-------------------- */
/* text flip animation */
.text-flip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flip{
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}
.flip span{
    position: relative;
    /* color: crimson; */
    /* color: rgb(164, 5, 164); */
    color: #f700c2;
    font-weight: 500;
    animation: animation 10s ease infinite;
}
@keyframes animation {
    0%,
    100% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50% {
        top: -100px;
    }
    70% {
        top: -100px;
    }
    75% {
        top: -150px;
    }
    95% {
        top: -150px;
    }
}

.flip-container{
    margin: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1100px) {
    .flip-container {
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
}
@media (max-width: 450px) {
    .flip span {
        font-size: 25px;
    }
}


/* about me */
.col1{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.col1 p{
    color: #999;
}
.col1 h3{
    letter-spacing: 1px;
    font-weight: bolder;
}


#about .col2{
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
    margin-right: 20%;
    line-height: 1;
    overflow: hidden;
}
.col2 .reveal{
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    
}
.col2 .highlight{
    background-color: #ECFD18;
}
@keyframes reveal {
    0%{
        transform: translate(0,100%);
    }
    100%{
        transform: translate(0,0);
    }
}


/* -------------------- SKILLS -------------------- */
#skills .col2{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills .col2 h2:first-of-type {
    color: #f700c2;
}
.col2 h2:last-of-type {
    color: #999;
}

/* infinite scroll */
.scroll {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    position: relative;
}

.scroll div {
    display: inline-block;
    animation: scroll var(--t) linear infinite;
    white-space: nowrap;
}

.scroll div span {
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: solid 1px #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.scroll div span:hover {
    background-color: #ECFD18;
    cursor: pointer;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


/* -------------------- PORTFOLIO -------------------- */
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work_a img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s;
}

.work h3 {
    font-size: 14px;
    color: #ECFD18;
    background-color: #f700c2;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px 10px;
}

.work ul {
    padding: 0;
    margin: 10px 0 0 0;
}

.work ul li {
    font-size: 12px;
    display: inline-block;
    list-style: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    justify-content: space-between;
}

.work_a {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
    border-radius: 10px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease;
}

.work_a:hover .layer {
    opacity: 1;
}

.layer svg {
    height: 45px;
    width: 45px;
    fill: #000;
}



/* -------------------- CONTACT -------------------- */
#contact .container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#contact h2{
    font-size: 70px;
    text-transform: uppercase;
}
#contact span{
    color: #999;
}

.contact-1{
    border-right: 2px solid #000;
    padding-right: 20px;
}
.contact-2 i{
    display: inline-flex;
    font-size: 40px;
    padding: 10px;
    color: #f700c2;
    border-radius: 10px;
}
.contact-2 i:hover{
    background-color: #f700c2;
    color: #fff;
    transition: 0.3s;
}



/* -------------------- FOOTER -------------------- */
#footer .container{
    margin-top: 70px;
    padding-top: 20px;
    border-top: 2px #000 solid;
    text-align: center;
    justify-content: center;
}

#footer p{
    background-color: #ECFD18;
}
#footer span{
    background-color: none;
    color: #f700c2;
}
